<footer>
    <div id="undone">לסיום: <span>{{totals.undone}}</span></div>
    <div id="done">הושלמו: <span>{{totals.done}}</span></div>
    <div id="total">סה"כ: <span>{{totals.totals}}</span></div>
</footer>